<div class="container-fluid background">
    <div class="container">
        <div class="shipping">
            Shipping
        </div>
    </div>
   
</div>
<div class="container-fluid">
    <div class="container my-5 py-5">
        <h2>Shipping</h2>
        <p>Orders within the UK are sent via Standard Class Delivery and are expected to reach you within 3-5 working
            days. International orders are expected to reach you within 14 working days. International delivery is a
            flat rate of £6.99 whereas UK shipping includes free shipping.</p>
    </div>
</div>