<div class="container-fluid background">
    <div class="container">
        <div class="shipping">
            SHIPPING
        </div>
    </div>
   
</div>
<div class="container-fluid">
    <div class="container my-5 py-5">
        <h2>Shipping</h2>
        <p>   Orders within the United States are sent via Standard Class Delivery and are expected to reach you
            within 3-5 working days. International orders are expected to reach you within 14 working days.
            International delivery is a flat rate of $4.00 whereas shipping on order exceding $60 is free.</p>
    </div>
</div>