<div class="row p-3" style="background-color: #EBE9EB;">
    <span class="mb-4">Debit/Credit Card</span>
    <div>
        <div class="row p-2" style="background-color: #DCD7E3;">
            <span class="mb-4">Pay with your your Debit/Credit Card</span>

            <div class="col-md-12 ">
                <label for="">Card Number</label>
                <input type="text" class="form-control card">
              
            </div>
            <div class="col-md-6 mt-3">
                <label for="">Expiry Date</label>
                <input type="text" placeholder="MM/YY" class="form-control">
            </div>
            <div class="col-md-6 mt-3">
                <label for="">Card Code (CVC)</label>
                <input type="number" placeholder="CVC" class="form-control">
            </div>

        </div>
        <div class="my-3">
            <span>Your personal data will be used to process your order, support your experience throughout this website, and
                for other purposes described in our privacy policy.</span>
        </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-order">Place order</button>
      </div>
    </div>
</div>