<div class="container-fluid px-5 py-5">
    <div class="row">
        <div class="col-md-3">
            <a href="/" class="logoanchor" aria-label="home">BUY DELIGHT
            </a>
        </div>
        <div class="col-md-3">
            <h2 class="head">CUSTOMER CARE</h2>
            <div class="linkdiv">
                <button href="" class="btn link margin" (click)="gotofaq()">FAQ</button>
                <button href="" class="btn link margin" (click)="gotoshipping()">SHIPPING</button>
                <button href="" class="btn link margin" (click)="gotoreturns()">RETURNS</button>
                <button href="" class="btn link margin" (click)="gotoprivacy()">PRIVACY POLICY</button>
           
            </div>
        </div> 
        <div class="col-md-3">
            <h2 class="head">CONTACT US</h2>
            <div class="linkdiv mt-5">
                <label for="">EMAIL:</label>
                <a  class="link">Shop@buydelight4u.com</a>
            </div>
            <div class="linkdiv mt-5">
                <label for="" class="mb-3">PHONE:</label>
                <p> <a  class="link" (click)="handlePhoneNumberClick()" href="tel:+18155840669">+18155840669</a></p>
                <p> <a class="link" (click)="handlePhoneNumberClick()" href="tel:+447481724671">+447481724671</a></p>

               
            </div>
            
        </div>
         <div class="col-md-3">
            <h2 class="head">SOCIAL MEDIA</h2>
            <div class="mt-5 d-flex">
                <a href="" class="icon"><img src="../../../assets/icons/instagram.png" alt="" class="iconimage"></a>
                <a href="" class="icon"><img src="../../../assets/icons/tik-tok.png" alt="" class="iconimage"></a>
                <a href="" class="icon"><img src="../../../assets/icons/facebook-app-symbol.png" alt="" class="iconimage"></a>
                <a href="" class="icon"><img src="../../../assets/icons/snapchat.png" alt="" class="iconimage"></a>

            </div>
        </div>
    </div>
    <div class="row mt-5">
        <p class="link end">2016 © Buy Delight LLC  </p>
        <p class="link end">Website Created By Ali Hassan Kaleemi</p>
    </div>
</div>
<!--push  -->