<div class="container-fluid px-5 py-5">
    <div class="row">
        <div class="col-md-3">
          <img src="../../../assets/logosss.jpg" alt="" class="logo">
        </div>
        <div class="col-md-3">
            <h2 class="head">CUSTOMER CARE</h2>
            <div class="linkdiv">
                <a href="" class="link margin">FAQ</a>
                <a href="" class="link margin">SHIPPING</a>
                <a href="" class="link margin">RETURNS</a>
                <a href="" class="link margin">PRIVACY POLICY</a>
                <a href="" class="link margin">LOGIN</a>
                <a href="" class="link margin">REGISTER</a>
            </div>
        </div> 
        <div class="col-md-3">
            <h2 class="head">CONTACT US</h2>
            <div class="linkdiv mt-5">
                <label for="">EMAIL:</label>
                <a  class="link">info@valvador.com</a>
            </div>
            <div class="linkdiv mt-5">
                <label for="">PHONE:</label>
                <a  class="link">+447481724671</a>
            </div>
            
        </div>
         <div class="col-md-3">
            <h2 class="head">SOCIAL MEDIA</h2>
            <div class="mt-5 d-flex">
                <a href="" class="icon"><img src="../../../assets/icons/instagram.png" alt="" class="iconimage"></a>
                <a href="" class="icon"><img src="../../../assets/icons/tik-tok.png" alt="" class="iconimage"></a>
                <a href="" class="icon"><img src="../../../assets/icons/facebook-app-symbol.png" alt="" class="iconimage"></a>
                <a href="" class="icon"><img src="../../../assets/icons/snapchat.png" alt="" class="iconimage"></a>

            </div>
        </div>
    </div>
    <div class="row mt-5">
        <p class="link end">2024 © WestBeauty LTD  </p>
        <p class="link end">Website Created By Ali Hassan Kaleemi</p>
    </div>
</div>