<div class="container-fluid background">
    <div class="container">
        <div class="contact">
            CONTACT US
        </div>
    </div>
</div>
<form [formGroup]="contactForm" (ngSubmit)="submit()">
    <div class="container-fluid my-5">
        <div class="container">
            <h1>Reach Out To Us</h1>
            <p>For any business enquiries please fill out the form below:</p>
            <div class="row p-4 rounded backgroundrow">
                <div class="col-md-6">
                    <div>
                        <label for="">Firstname</label>
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <label for="">Surname</label>
                        <input type="text" class="form-control" formControlName="surname">
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <label for="">Email</label>
                        <input type="text" class="form-control" formControlName="email">
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <label for="">Telephone</label>
                        <input type="text" class="form-control" formControlName="telephone">
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="">Message</label>
                    <textarea name="" id="" cols="30" rows="10" type="text" class="form-control"
                        formControlName="message"></textarea>
                </div>
                <div class="col-md-12">
                    <button class="btn" type="submit">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</form>

