.nav-link {
    font-size: 18px;
    font-weight: 500;
    line-height: 17px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.navbar{
    background-color: #27282a;
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        justify-content: end;
    }
}

.logo {
    padding-left: 8px
}

.nav-link:hover {
    color: #f48722
}

.btn {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif
}
/* .logoanchor{
    width: 30%;
} */
.logoanchor{
    
    color: #e56d1c;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 600;
    font-family: cursive;
}
.navbar-toggler-icon{
    color: white !important;
}
.start {
    background-color: #0C4B38;
    width: auto;
    color: #FFFFFF
}
.nav-item{
    display: flex;
    align-items: center;
}
.navresponse {
    display: flex;
    justify-content: space-between;
}

.login_signbtn {
    display: flex
}
.logoanchor{
    padding-left: 2rem;
}
@media screen and (max-width:1024px) and (min-width:769px) {
   .logoanchor{
    font-size: 2rem;
   }

    .btn {
        font-size: 12px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif
    }

    .logo {
        padding-left: 8px
    }

    .start {
        width: auto;
    }

    .nav-link {
        font-size: 12px;
        font-weight: 500;
        line-height: 25px;
        font-family: 'Poppins', sans-serif
    }

    .login_signbtn {
        display: flex
    }

    .start {
        font-size: 11px
    }
}

@media screen and (max-width:768px) and (min-width:501px) {
    .logo {
        padding-left: 8px
    }
.logoanchor{
    font-size: 2rem;
}
    .navresponse {
        display: block;
        justify-content: space-between;
        width: 100%
    }

    .login_signbtn {
        display: table-caption
    }

    .nav-link {
        font-size: 20px;
        font-weight: 500;
        line-height: 35px;
        font-family: 'Poppins', sans-serif
    }
}

@media screen and (max-width:500px) {
    .btn{
        width: 12rem;
        display: inline-flex;
        justify-content: flex-start;
        text-decoration: none;
    }
    .navresponse {
        display: block;
        justify-content: space-between;

    }

    .login_signbtn {
        display: table-caption
    }

    .nav-link {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        font-family: 'Poppins', sans-serif
    }

    .mobview {
        display: flex
    }

    .logoanchor{
        padding-left: 0px;
        font-size: 2rem;
    }
.logo{
    width: 50%;
}
   
    .navbar-nav .dropdown-menu {
    position: static;
    padding: 0px 10px;
}
}

@media screen and (max-width:1445px) and (min-width:1350px) {
    .login_signbtn {
        display: flex
    }

    .nav-link {
        font-size: 15px
    }

    .btn {
        font-size: 17px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif
    }

    .logo {
        padding-left: 8px
    }
}