.table{
    border: 1px solid lightgray;
    border-radius: 5px !important;
}

img{
    width: 60%;
}
h2{
    color: #E56D1C;
}
.col-md-5{
    padding: 0px !important;
}
.btn-primary{
    background-color: #E56D1C;
    color: white;
    font-size: 1rem;
    border: none;
    font-weight: 600;
}
.form-control{
    width: 4rem;
}
.btn-checkout{
    background-color: #E56D1C;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px !important;
    padding: 10px 0px;
    font-size: 1.4rem;
}
@media screen and (max-width:600px){
    td{
        font-size: 10px;
    }
    .form-control{
        width: 50%;
    }
    th{
   font-size: 10px;
    }
    img{
        width: 100%;
    }
    .btn-checkout{
        font-size: 1rem;
    }
    .btn-primary{
        margin: 0px !important;
    }
}