<div class="container-fluid">
    <div class="container mt-5">
        <div class="row">
            <h2>Cart</h2>
        </div>
        <div class="row ">
            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cartItems">
                        <td>
                            <button class="btn" (click)="removeItem(item)">
                                <img src="../../../assets/icons/close.png" alt="">
                            </button>
                        </td>
                        <td>{{ item?.name }}</td>
                        <td>{{ item?.price | currency }}</td>
                        <td>
                            <div class="d-flex">
                                <button class="btn btn-primary mx-2" (click)="decrement(item)">-</button>
                                <input type="number" class="form-control " [(ngModel)]="item.quantity"
                                    placeholder="1">
                                <button class="btn btn-primary mx-2" (click)="increment(item)">+</button>
                            </div>
                        </td>
                        <td>{{ item.subtotal | currency }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-7">
            </div>
            <div class="col-md-5">
                <div>
                    <h2>Cart Totals</h2>
                </div>
                <div>
                    <table class="table">
                    <tbody>
                        <tr>
                            <th>Subtotal</th>
                            <td>{{ cartSubtotal | currency }}</td>
                        </tr>
                        <tr>
                            <th>Shipping</th>
                            <td>{{ shippingPrice | currency }}</td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <td>{{ (cartSubtotal + shippingPrice) | currency }}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <div class=" my-5">
                    <button class="btn btn-checkout" (click)="gotocheckout()">Proceed to checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>