<div class="container-fluid ">
    <div class="container ">
        <div class="row py-5">
            <div class="col-md-6 ">
                <div>
                    <img src="../../../assets/single.webp" alt="" width="100%">
                </div>
                <div class="d-flex mt-3">
                    <div style="width: 5rem;">
                        <img src="../../../assets/single.webp" alt="" width="100%">
                    </div>
                    <div class="mx-4" style="width: 5rem;">
                        <img src="../../../assets/single.webp" alt="" width="100%">
                    </div>
                    <div style="width: 5rem;">
                        <img src="../../../assets/single.webp" alt="" width="100%">
                    </div>
                </div>
            </div>
            <div class="col-md-6 marginonmob">
                <div class="d-block">
                    <h1>SINGLE VANILLA LIPPE</h1>
                    <span class="price ">Rs. 800</span> <br>
                    
                    <!-- <span class="disount ">Discount : Rs. 800</span> -->
                    <h2 class="details">Brand Name: VALVADOR</h2>
                    <div class="buttondiv mb-3">
                        <button class="btn addtocart" routerLink="cart">ADD TO CART</button>
                    </div>
                    <p class="desc ">Valvador Lippies are luxurious , high shine, hydrating lip gloss. Giving you a
                        polished look enhance the natural colour of your lips. Use on its own or with lip stick,
                        Valvador Lippies will give your lips a clean, beautiful and aromatic shine.</p>
                </div>
                <div>
                    <div class="d-flex details">Product Category : <span class="mx-3">Makeup</span></div>
                    <div class="d-flex details">Size : <span span class="mx-3">Unknown</span></div>
                    <div class="d-flex details">Weight : <span span class="mx-3">300gm</span></div>
                    <div class="d-flex details">Volume : <span span class="mx-3">400 cubic meters</span></div>
                    <div class="d-flex details">Dimensions : <span span class="mx-3">10" 5" 4"</span></div>
                </div>
                <div class="d-block">
                    <h3 class="Ingredients">Ingredients</h3>
                    <p class="">Paraffinum, Liquidum, Polybutene, Hydrogenated Sterene/Isoprene Copolimer, Fragrance</p>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-between">
                <div class="align">
                    <h2><b>Related Products</b> </h2>
                </div>
                <div>
                    <div class="d-flex">
                        <div class=" text-right d-flex justify-content-center align-items-center ">
                          <a class="btn btn-carousel p-2 px-3 mx-2" href="#carouselExampleIndicators2" role="button" (click)="onPrevClick($event)">
                            <i class="fa fa-arrow-left"></i>
                          </a>
                        </div>
                        <div class=" text-left d-flex justify-content-center align-items-center ">
                          <a class="btn btn-carousel p-2 px-3 " href="#carouselExampleIndicators2" role="button" (click)="onNextClick($event)">
                            <i class="fa fa-arrow-right"></i>
                          </a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
            <div class="row">
    
              <div class="col-12">
                <ng-container class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row">
                      <ng-container *ngFor="let item of currentproducts; let i = index">
                        <div class="col-md-3 col-sm-12 mt-2" *ngIf="i >= currentIndex && i < currentIndex + visibleCards">
                         <div>
                          <div>
                            <img *ngIf="item.img" src="{{item.img}}" class="image " />
                            <img *ngIf="!item.img" src="../../../../assets/patronpallogo.jpg " class="image border"/>
                          </div>
    
                          <div  class=" mt-2 p-4">
                            <h4 class="d-flex justify-content-center relatedproductname">{{item.name}}</h4>
                         
                          </div>
                        </div>
                      </div>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
              </div>
    
            </div>
          </div>
    </div>
</div>