h1{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
}
.price{
    font-size: 25px;
    font-weight: 500;
    line-height: 50px;
}
.desc{
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}
.details{
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
}
.Ingredients{
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}
.disount{
    color: #652E8D;
        font-size: 25px;
        font-weight: 500;
        line-height: 50px;
}
.addtocart{
    color: #FFFFFF!important;
    border-width: 0px!important;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase!important;
    background-color: #2D282A!important;
    padding-top: 11px!important;
    padding-right: 50px!important;
    padding-bottom: 11px!important;
    padding-left: 50px!important;
    margin: 10px 0px !important;
}
.save{
    color: white;
    background-color: red;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 22px;
}
.image{
    width: 100%;
    height: 22rem;
}
/* .mainimg{
    height: 25rem;
} */
.btn-carousel{
    background-color: #2D282A;
    color: white;

}
.relatedproductname{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}
.belowpic{
    cursor: pointer;
}
@media screen and (max-width:600px){
    .marginonmob{
        margin-top: 1rem;
    }
    h1{
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 600;
        line-height: 32px;
        text-align: center;
    }
    .Ingredients{
        font-size: 17px;
    }
    .buttondiv{
        display: flex;
        justify-content: center;
    }
    h2{
        font-size: 20px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 0px;
    }
    .align{
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width:992px) and (min-width:601px){
    h1 {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 600;
        line-height: 30px;
    }
    .image{
        height: 14rem;
    }
}
@media screen and (max-width:1200px) and (min-width:993px){
    h1{
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 600;
        line-height: 32px;
    }
}

/* Add this in your component's CSS or global styles */
.discounted-with-discount {
    display: inline-block;
}

.original-price {
    text-decoration: line-through;
}

.discounted-price {
    color: #e56d1c; /* Set your desired highlight color */
    font-weight: bold;
}
/* app.component.css */

   .desc {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  
  button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    color: #e56d1c;
    font-weight: 600;
  } 
  