h1{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
}
.price{
    font-size: 25px;
    font-weight: 500;
    line-height: 50px;
}
.desc{
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}
.details{
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
}
.Ingredients{
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}
.disount{
    color: #652E8D;
        font-size: 25px;
        font-weight: 500;
        line-height: 50px;
}
.addtocart{
    color: #FFFFFF!important;
    border-width: 0px!important;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase!important;
    background-color: #2D282A!important;
    padding-top: 11px!important;
    padding-right: 50px!important;
    padding-bottom: 11px!important;
    padding-left: 50px!important;
}

.image{
    width: 100%;
    height: 18rem;
}
.mainimg{
    height: 25rem;
}
.btn-carousel{
    background-color: #2D282A;
    color: white;

}
.relatedproductname{
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}
@media screen and (max-width:600px){
    .marginonmob{
        margin-top: 1rem;
    }
    h1{
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
        text-align: center;
    }
    .buttondiv{
        display: flex;
        justify-content: center;
    }
    h2{
        font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    }
    .align{
        display: flex;
        align-items: center;
    }
}