<div class="container-fluid background">
    <div class="container">
        <div class="category">
            CATEGORIES
           </div>
    </div>
   
</div>
<div class="container-fluid my-5">
    <div class="container">
        <div class="row">
            
            <div class="col-md-4"  *ngFor="let item of category">
                <div (click)="navigateToProduct(item._id)">
                    <div>
                        <img src="{{item?.category_pic}}" alt="">
                    </div>
                    <div class="details">
                        <h2 class="headtwo my-2">{{item?.name}}</h2>
                        <!-- <p class="description">{{item?.para}} </p> -->
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>