<div class="container-fluid background">
    <div class="container">
        <div class="category">
            CATEGORIES
           </div>
    </div>
   
</div>
<div class="container-fluid my-5">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-3 col-md-4"   *ngFor="let item of category">
                <div (click)="navigateToProduct(item._id)" style="background-color: #f9f9f9; cursor: pointer;">
                    <div  style="margin-top: 10px; padding: 10px;">
                        <img src="{{item?.category_Pic}}" alt="">
                    </div>
                    <div class="details">
                        <h2 class="headtwo my-2">{{item?.categoryName}}</h2>
                        <!-- <p class="description">{{item?.para}} </p> -->
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>