<div class="row my-5">
    <div class="col-md-12">
        <div>
            <h2>Your 0rder</h2>
        </div>
        <div class=" ">
            <table class="table border">
            <thead>
                <th scope="col">Product</th>
                <th>Subtotal</th>
            </thead>
          
            <tbody>
                <tr>
                    <td>Vanilla Lippies Display Pack  × 3</td>
                    <td>£89.97</td>
                </tr>
                <tr>
                    <th>Subtotal</th>
                    <td>£89.24</td>
                </tr>
                <tr>
                    <th>Shipping</th>
                    <td>Free shipping</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td>£89.24</td>
                </tr>
            </tbody>
        </table>
        </div>
        
       
    </div>
</div>