.background{
  /* background-image: url(../../../assets/SHOP.jpg); */
  background-color: #f48722;
}
.faq{
    padding: 120px 0px;
    font-size: 80px;
    color: white;
}


  .accordion-body{
    font-size: 1.1rem;
    font-weight: 200;
    padding-right: 20%;
  }

  .choose{
    font-weight: 600;
  }
  .accordion-button{
    margin-bottom: 1rem;
    font-size: 24px;
    font-weight: 500;
  padding: 30px 15px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  }
  
  
  
  @media screen and (max-width:1024px) and (min-width:992px){
  .accordion-body {
    font-size: 1.2rem;
  }
  }

  
  
  @media screen and (max-width:800px) and (min-width:601px){
 
  .accordion-button{
    font-size: 1.1rem;
    padding: 25px 15px;
  }
  .accordion-body{
    font-size: 1rem;
    font-weight: 200;
    }
  }
  
  @media screen and (max-width:600px){
    .faq {
        padding: 31px 0px;
        font-size: 60px;
        color: white;
    }
    .choose{
        font-size: x-large;
    }
    .accordion-button{
        font-size: 1rem;
        font-weight: 600;
        padding: 25px 15px;
      }
      .accordion-body{
        font-size: 0.9rem;
        font-weight: 200;
        }
  }