<div class="row">
    <h1 class="head">Checkout</h1>
    <h3 class="billing">Billing details</h3>
    <form action="">
        <div class="row">
            <div class="col-md-6">
                <div class="inputdiv">
                    <label for="" class="mb-2">First name</label>
                    <input type="text" class="form-control" name="firstname">
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="inputdiv floatdiv ">
                    <label for="" class="mb-2">Last name</label>
                    <input type="text" class="form-control" name="lastname">
                </div>
            </div>
            <div class="col-md-6">
                <div class="inputdiv">
                    <label for="" class="mb-2">Company name (optional)</label>
                    <input type="text" class="form-control" name="companyname">
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="inputdiv floatdiv">
                    <label for="" class="mb-2">Country/Region</label>
                    <select class="form-select" name="country" id="country">
                        <option value="" disabled selected>Select Country</option>
                        <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
                   </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="inputdiv">
                    <label for="" class="my-2">Street address</label>
                    <input type="text" class="form-control" name="address" placeholder="House number and street name">
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="inputdiv floatdiv">
                    <label for="" class="mb-2"></label>
                    <input type="text" class="form-control" name="address2"
                        placeholder="Apartment, suite, unit, etc, (optional)">
                </div>
            </div>
            <div class="col-md-6">
                <div class="inputdiv">
                    <label for="" class="mb-2">Town/City</label>
                    <input type="text" class="form-control" name="town">
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="inputdiv floatdiv">
                    <label for="" class="mb-2">County (optional)</label>
                    <input type="text" class="form-control" name="firstname">
                </div>
            </div>
            <div class="col-md-6">
                <div class="inputdiv">
                    <label for="" class="mb-2">Post code</label>
                    <input type="text" class="form-control" name="postcode">
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="inputdiv floatdiv">
                    <label for="" class="mb-2">Phone</label>
                    <input type="text" class="form-control" name="phone">
                </div>
            </div>
            <div class="col-md-6">
                <div class="inputdiv">
                    <label for="" class="mb-2">Email Address</label>
                    <input type="text" class="form-control" name="email">
                </div>
            </div>
        </div>
    </form>
</div>