.inputdiv{
    width: 94%;
    padding: 10px 0px;
}
.floatdiv{
    float: right;
    overflow: visible;
    clear: right;
}
.form-control{
    border: none;
    padding: 16px 0px;
    background-color: #EEEEEE;
    line-height: 1.7em;
    font-size: 14px;
    border-radius: 0px !important;

}
.form-select{
    border: none;
    padding: 16px 0px;
    border-radius: 0px !important;
    background-color: #EEEEEE;
    line-height: 1.7em;
    font-size: 14px;
}
.head{
    color: #652E8D!important;
}

@media screen and (max-width:600px){
    .floatdiv{
        float: left;
        overflow: visible;
        clear: right;
    }
    
    .inputdiv{
        width: 100%;
        padding: 10px 0px;
    }
}