<div class="container-fluid background">
    <div class="top">
        <div class="a">
            <h1 class="vanilla">BUY DELIGHTS</h1>
            <span class="gel">Gel Shine Lip Gloss</span>
            <button class="btn shopbtn">SHOP LIP GLOSS</button>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="container">
        <div class="row">
            <h1 class="heading">DISCOVER THE NEEDS WITH BUY DELIGHTS</h1>
            <!-- <span class="moto">We Are Valvador</span> -->
            <p class="para">
                welcome to BuyDelights, your one-stop shop for groceries, high-quality mobile accessories, cosmetics,
                and necessities for the car. Find a carefully chosen assortment of premium products that improve your
                way of life. Savor the ease of safe online purchasing, quick delivery, and top-notch customer support.
                Shop with confidence at BuyDelights, where convenience and quality collide.</p>
            <p class="para"><strong>Our commitment to quality ensures that every product in our diverse range meets the
                    highest standards, guaranteeing satisfaction with every purchase. Embrace the joy of shopping and
                    elevate your lifestyle with BuyDelights – where variety, excellence, and
                    convenience converge.</strong></p>
            <!-- <p class="para"> We are always creating an ever-increasing assortment of luxury products to help our
                customers achieve
                holistic beauty rituals.</p>
            <p class="para">Helping to restore the healthy and plump look of your lips, our Vanilla Lippies delivery a
                hydration
                boost providing you with smooth and long lasting finish.</p> -->
        </div>
    </div>
    <div class="container">
        <h2 class="headtwo my-4">Vanilla Lippies</h2>
        <div class="row">
            <div class="col-md-6 cursor" (click)="gotodetails()">
                <div>
                    <div>
                        <img src="../../../assets/single.webp" alt="">
                    </div>
                    <div class="details">
                        <h2 class="headtwo my-3">SINGLE VANILLA LIPPIE</h2>
                        <p class="price">Rs. 500</p>
                        <p class="description">Luxurious, High Shine, Hydrating Vanilla lip gloss. Giving you a polished
                            look enhancing the natural colour of your lips. </p>
                        <button class="btn cartbtn">ADD TO CART</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 cursor" (click)="gotodetails()">
                <div>
                    <div>
                        <img src="../../../assets/displaypack.webp" alt="">
                    </div>
                    <div class="details">
                        <h2 class="headtwo my-3">VANILLA LIPPIES DISPLAY PACK</h2>
                        <p class="price">Rs. 800</p>
                        <p class="description">Luxurious, High Shine, Hydrating Vanilla lip gloss. Giving you a polished
                            look enhancing the natural colour of your lips. </p>
                        <button class="btn cartbtn">ADD TO CART</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="headtwo mt-4">ABOUT BUY DELIGHTS</h2>
        <span class="moto">Empowerment & Confidence</span>
        <!-- <p class="para">We at Valvador aim to empower our customers helping them build confidence and feel their best.
            We don’t seek to change you but we revolve in enhancing your natural features by creating innovative
            products to complement your skin, body and feel.</p> -->
        <p class="para">At BuyDelights, we go beyond being just an online marketplace; we're your digital shopping
            haven. Our platform seamlessly connects buyers and sellers, offering a diverse marketplace for automotive
            essentials, beauty wonders, grocery delights, and state-of-the-art mobile accessories. Explore the ease of
            navigating through a virtual marketplace that prioritizes user-friendly interfaces, secure transactions, and
            a spectrum of choices. BuyDelights transforms online shopping into a personalized, enjoyable experience,
            connecting you with quality products that enhance every facet of your life.</p>
        <!-- <p class="para">Consumer satisfaction is paramount. Our company places a premium on making customers happy. All
            efforts and objectives of the products we aim to produce will be geared towards maintaining a loyal and
            happy client base.</p> -->
        <div class="my-5">
            <img src="../../../assets/lastimage.webp" alt="">
        </div>
    </div>
</div>