.background{
    background-image: url('../../../assets/DSC03923-scaled.jpg'); 
    padding-top: 334px;
    padding-bottom: 334px;  
    background-size: cover;
    background-repeat: no-repeat;
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    padding-right: 15%;
}
.a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vanilla{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    line-height: 43px;
    font-weight: 500;
}
.gel{
    font-size: 30px;
    line-height: 35px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.shopbtn{
    color: #FFFFFF!important;
    border-width: 0px!important;
    border-radius: 5px;
    font-size: 24px;
    background-color: #2d282a;
    font-family: 'Poppins', sans-serif;
padding: 10px 6rem;
margin-top: 20px;
}
.heading{
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
}
.imagediv{
    height: 35rem;
}
.moto{
    font-size: 20px;
    line-height: 21px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
.para{
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center; 
    text-align: center;
}
.headtwo{
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    display: flex;
    text-align: center;
    justify-content: center; 
}
.headtwotop{
    font-size: 35px;
    line-height: 40px;
    font-weight: 500;
    display: flex;
    text-align: center;
    justify-content: center; 
}
img{
    width: 100%;
}
.price{
    font-size: 26px;
    line-height: 40px;
    font-weight: 600;
    display: flex;
    color: #e56d1c;
    justify-content: center; 
}
.description{
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    display: flex;
    justify-content: center; 
    text-align: center;
}
.family{
    font-family:  monospace !important;
}
.cartbtn{
    font-size: 22px;
    line-height: 45px;
    font-weight: 500;
    display: flex;
    justify-content: center; 
    text-align: center;
    padding: 0px 3rem;
    color: white;
    background-color: #2d282a;
}
.cartbtn:hover{
    background-color: #652e8d;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cursor{
    cursor: pointer;
}
.inputdiv{
    width: 80%;
}
.form-control{
    background-color: #DCD2DF;
    font-size: 1.5rem;
    border: none;
    color: gray;
}
.form-control::placeholder{
    font-size: 1.5rem;
    border: none;
    color: gray;
}
.signupdiv{
    width: 20%;
}
.signupbtn{
    width: 100%;
    background-color: #2d282a;
    color: white;
    font-size: 1.5rem;
}
.borderdiv{
    border-bottom: 1px solid gray;
    display: flex;
}
.buy{
    font-size: 4rem;
    font-weight: bolder;
    color: #C9B6D3;
}
@media screen and (max-width:992px) and (min-width:501px){
    .imagediv{
        height: 25rem;
    }
    .background {
        padding-top: 115px;
        padding-bottom: 80px;
        background-size: cover;
    }
    .top{
        padding-right: 3%;
    }
    .shopbtn{
        font-size: 13px;  
        padding: 10px 3rem;
    }
    .vanilla{
        font-size: 32px;
        line-height: 43px;
    }
    .gel{
        font-size: 19px;
        line-height: 20px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }
    .headtwo{
        font-size: 23px;
        line-height: 40px;
        font-weight: 500;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:500px){
    .imagediv{
        height: 25rem;
    }
    .headtwotop {
        font-size: 21px;
        line-height: 30px;
        font-weight: 600;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .sub{
        font-size: 20px;
        font-weight: 600;
    }
    .buy{
        font-size: 2.5rem
    }
    .p-5{
        padding: 10px !important;
    }
    .borderdiv{
        display: block;
        border-bottom: 0px;
    }
    .inputdiv{
        border-bottom: 1px solid gray;
        width: 100%;
    }
    .signupdiv{
        width: 100%;
        margin-top: 10px;
    }
    
    .background{
        padding-top: 0px;
        padding-bottom: 0px;
        height: 14rem;
        background-size: 100% 100%;
    }
    .vanilla{
        font-size: 16px;
        line-height: 28px;
        font-weight: 600;
    }
    .gel{
        font-size: 13px;
        line-height: 15px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }
    .shopbtn{
        font-size: 9px;
        padding: 5px 2rem;
    }
    .top{
        padding-right: 0%;
        padding-top: 3rem;
    }
    .heading{
        font-size: 32px;
        line-height: 36px;
        font-weight: 500;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .cartbtn{
        margin-bottom: 1rem;
    }
    .headtwo{
        text-align: center;
    }
}
@media screen and (max-width:1024px) and (min-width:991px){
    .buy{
        font-size: 2rem ;
    }
    .signupdiv {
        width: 30% ;
    }
    .inputdiv{
        width: 70% ;
    }
    .gel {
        font-size: 22px;
        line-height: 35px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }
    .vanilla {
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        line-height: 43px;
        font-weight: 500;
    }
    .shopbtn {
        color: #FFFFFF!important;
        border-width: 0px!important;
        border-radius: 5px;
        font-size: 14px;
        background-color: #2d282a;
        font-family: 'Poppins', sans-serif;
        padding: 10px 3rem;
        margin-top: 7px;
    }
    .top{
        padding-right: 10px;
    }
    .background {
        padding-right: 0px;
        padding-top: 152px;
        padding-bottom: 174px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:1500px) and (min-width:1025px){
    .buy{
        font-size: 4rem !important;
    }
    .signupdiv {
        width: 30% !important;
    }
    .inputdiv{
        width: 70% !important;
    }
    .shopbtn{
        color: #FFFFFF!important;
        border-width: 0px!important;
        border-radius: 5px;
        font-size: 18px;
        background-color: #2d282a;
        font-family: 'Poppins', sans-serif;
        padding: 10px 4rem;
        margin-top: 20px;
    }
    .vanilla{
        font-family: 'Poppins', sans-serif;
        font-size: 41px;
        line-height: 43px;
        font-weight: 500;
    }
    .gel{
        font-size: 25px;
        line-height: 35px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }
    .top{
        padding-right: 3%;
    }
}

