<div class="container-fluid p-0">
  <div class="marquee">
    <h3 class="mb-0 py-3 beautiful-text">Get an exclusive 14% discount on Your First Order</h3>
  </div>
    <div id="carouselExample" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/carousel/appealing-french-woman-holding-smartphone-with-blank-screen-front-view-girl-yellow-beret-pointing-with-finger-digital-device.jpg" class="d-block w-100" alt="...">
          </div><div class="carousel-item ">
            <img src="../../../assets/carousel/woman-with-sunglasses-listening-music.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item ">
            <img src="../../../assets/carousel/WhatsApp Image 2024-01-06 at 13.48.28_1534d4d5.jpg" class="d-block w-100" alt="...">
          </div>
         
          
          <div class="carousel-item">
            <img src="../../../assets/carousel/360_F_142348781_I6OPT1NpR1a4Kpyx1CFvzA3hEUUXNhtW.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/carousel/istockphoto-1156397327-612x612.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div class="container-fluid mt-5">
    <div class="container">
        <div class="row">
          <div class="">
            <h1 class="d-flex justify-content-center"> <strong>Shop by Departments</strong> </h1>
            <nav class="navbar py-5">
                <div class="container  main-container">
                  <button class="btn prev-btn" (click)="prev()"><i class="fa fa-chevron-left" style="color: white;"></i></button>
                  <div class="item firstdiv" *ngFor="let item of categories | slice: currentIndex : currentIndex + displayItemCount">
                    <div style="display: flex; justify-content: center; cursor: pointer;" (click)="navigateToProduct(item._id)">
                      <div>
                        <img  [src]="item?.category_Pic || '../../../assets/NoImage.jpeg'" alt="" class="firstcarouselimage">
                      </div>
                    </div>
                    <p class="catname">{{item?.categoryName}}</p>
                  </div>
                  <button class="btn next-btn" (click)="next()"><i class="fa fa-chevron-right" style="color: white;"></i></button>
                </div>
              </nav>
         </div>
            <!-- <h1 class="heading">DISCOVER THE NEEDS WITH BUY DELIGHT</h1>
            
            <p class="para family">
                welcome to BuyDelight, your one-stop shop for groceries, high-quality mobile accessories, cosmetics,
                and necessities for the car. Find a carefully chosen assortment of premium products that improve your
                way of life. Savor the ease of safe online purchasing, quick delivery, and top-notch customer support.
                Shop with confidence at BuyDelight, where convenience and quality collide.</p> -->
            <p class="para"><strong>Our commitment to quality ensures that every product in our diverse range meets the
                    highest standards, guaranteeing satisfaction with every purchase. Embrace the joy of shopping and
                    elevate your lifestyle with BuyDelight – where variety, excellence, and
                    convenience converge.</strong></p>
         
        </div>
    </div>
    <div class="container">
        <!-- <h2 class="headtwo my-4">Vanilla Lippies</h2> -->
        <div class="row my-4">
            <div class="col-lg-3 col-md-6 mb-5 cursor"  *ngFor="let item of firstEightProducts">
                <div  (click)="gotodetails(item?._id)" style="position: relative;">
                    <div class="">
                        <img src="{{item?.product_Pic[0]}}" alt="" width="100%" class="imagediv">
                    </div>
                    <div class="details">
                        <h2 class="headtwotop my-3">{{item?.title}}</h2>
                        <p class="price" style="position: absolute; top: -10px; right: -10px;">{{item?.price | currency}}</p>
                        <!-- <p class="description">{{item?.shortDescription}}</p> -->
                        <div >
                          <span *ngIf="item?.discount"  class="d-flex align-items-center off" style="position: absolute; top: -10px; left: -10px;" >{{item?.discount}}% Off</span>
                      </div>
                        <button class="btn cartbtn w-100">View Details</button>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6 cursor" (click)="gotodetails()">
                <div class="">
                    <div class=" ">
                        <img src="../../../assets/TAPH805BK_10-IMS-en_PK.webp" alt="" width="100%" class="imagediv">
                    </div>
                    <div class="details">
                        <h2 class="headtwotop my-3">Studio 3 Bluetooth Headphone</h2>
                        <p class="price">$18.00</p>
                        <p class="description">Luxurious, High Shine, Hydrating Vanilla lip gloss. Giving you a polished
                            look enhancing the natural colour of your lips. </p>
                        <button class="btn cartbtn">ADD TO CART</button>

                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="container">
        <h2 class="headtwo mt-5">ABOUT BUY DELIGHT</h2>
        <span class="moto">Empowerment & Confidence</span>
       
        <p class="para">At BuyDelight, we go beyond being just an online marketplace; we're your digital shopping
            haven. Our platform seamlessly connects buyers and sellers, offering a diverse marketplace for automotive
            essentials, beauty wonders, grocery delight, and state-of-the-art mobile accessories. Explore the ease of
            navigating through a virtual marketplace that prioritizes user-friendly interfaces, secure transactions, and
            a spectrum of choices. BuyDelight transforms online shopping into a personalized, enjoyable experience,
            connecting you with quality products that enhance every facet of your life.</p>
       
       
    </div>
</div>
<!-- <div class="container-fluid my-4">
    <div id="carouselExample2" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/carousel/b.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/carousel/a.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/carousel/c.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/carousel/d.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div> -->
<div class="container-fluid p-5 sm:p-1" style="background-color: lightgray;">
    <div class="row">
        <div class="col-lg-8 col-md-12 p-4 ps-sm-1 pe-sm-1">
            <h1 class="sub">SUBSCRIBE TO OUR NEWSLETTER</h1>
            <p>Be the first to know about our latest products, offers and more</p>
            <form action="">
                <div class=" w-100 py-3 borderdiv">
                    <div class="inputdiv">
                        <input type="text" class="form-control" placeholder="email address">
                    </div>
                    <div class="signupdiv">
                        <button class="btn signupbtn">SIGN UP</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-lg-4 col-md-12 p-4 p-md-0 d-flex align-items-center justify-content-center">
            <!-- <h1 class="buy">BUY DELIGHT</h1> -->
        </div>
    </div>
</div>