<div class="container-fluid ">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/carousel/WhatsApp Image 2024-01-06 at 13.48.28_1534d4d5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/carousel/WhatsApp Image 2024-01-06 at 13.48.28_dd279908.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/carousel/360_F_142348781_I6OPT1NpR1a4Kpyx1CFvzA3hEUUXNhtW.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/carousel/istockphoto-1156397327-612x612.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div class="container-fluid mt-5">
    <div class="container">
        <div class="row">
            <h1 class="heading">DISCOVER THE NEEDS WITH BUY DELIGHTS</h1>
            
            <p class="para family">
                welcome to BuyDelights, your one-stop shop for groceries, high-quality mobile accessories, cosmetics,
                and necessities for the car. Find a carefully chosen assortment of premium products that improve your
                way of life. Savor the ease of safe online purchasing, quick delivery, and top-notch customer support.
                Shop with confidence at BuyDelights, where convenience and quality collide.</p>
            <p class="para"><strong>Our commitment to quality ensures that every product in our diverse range meets the
                    highest standards, guaranteeing satisfaction with every purchase. Embrace the joy of shopping and
                    elevate your lifestyle with BuyDelights – where variety, excellence, and
                    convenience converge.</strong></p>
         
        </div>
    </div>
    <div class="container">
        <h2 class="headtwo my-4">Vanilla Lippies</h2>
        <div class="row">
            <div class="col-md-6 cursor" (click)="gotodetails()">
                <div>
                    <div class="">
                        <img src="../../../assets/1000135660.jpg" alt="" width="100%" class="imagediv">
                    </div>
                    <div class="details">
                        <h2 class="headtwotop my-3">Hi-Res Over-ear Headphone</h2>
                        <p class="price">$5.00</p>
                        <p class="description">Luxurious, High Shine, Hydrating Vanilla lip gloss. Giving you a polished
                            look enhancing the natural colour of your lips. </p>
                        <button class="btn cartbtn">ADD TO CART</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 cursor" (click)="gotodetails()">
                <div class="">
                    <div class=" ">
                        <img src="../../../assets/TAPH805BK_10-IMS-en_PK.webp" alt="" width="100%" class="imagediv">
                    </div>
                    <div class="details">
                        <h2 class="headtwotop my-3">Studio 3 Bluetooth Headphone</h2>
                        <p class="price">$18.00</p>
                        <p class="description">Luxurious, High Shine, Hydrating Vanilla lip gloss. Giving you a polished
                            look enhancing the natural colour of your lips. </p>
                        <button class="btn cartbtn">ADD TO CART</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="headtwo mt-5">ABOUT BUY DELIGHTS</h2>
        <span class="moto">Empowerment & Confidence</span>
       
        <p class="para">At BuyDelights, we go beyond being just an online marketplace; we're your digital shopping
            haven. Our platform seamlessly connects buyers and sellers, offering a diverse marketplace for automotive
            essentials, beauty wonders, grocery delights, and state-of-the-art mobile accessories. Explore the ease of
            navigating through a virtual marketplace that prioritizes user-friendly interfaces, secure transactions, and
            a spectrum of choices. BuyDelights transforms online shopping into a personalized, enjoyable experience,
            connecting you with quality products that enhance every facet of your life.</p>
       
       
    </div>
</div>
<div class="container-fluid my-4">
    <div id="carouselExample2" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/carousel/b.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/carousel/a.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/carousel/c.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/carousel/d.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div class="container-fluid p-5 sm:p-1" style="background-color: #DCD2DF;">
    <div class="row">
        <div class="col-lg-8 col-md-12 p-4 ps-sm-1 pe-sm-1">
            <h1 class="sub">SUBSCRIBE TO OUR NEWSLETTER</h1>
            <p>Be the first to know about our latest products, offers and more</p>
            <form action="">
                <div class=" w-100 py-3 borderdiv">
                    <div class="inputdiv">
                        <input type="text" class="form-control" placeholder="email address">
                    </div>
                    <div class="signupdiv">
                        <button class="btn signupbtn">SIGN UP</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-lg-4 col-md-12 p-4 p-md-0 d-flex align-items-center justify-content-center">
            <h1 class="buy">BUY DELIGHTS</h1>
        </div>
    </div>
</div>