<div class="container-fluid background">
    <div class="container">
        <div class="faq">
            PRIVACY POLICY
        </div>
    </div>
</div>


<div class="container-fluid my-5">
    <div class="container">
        <h1>Privacy Policy</h1>
        <p class="headtwo">We are here to protect your Privacy</p>
        <div class="row">
            <div class="col-md-12 ">
                <p>Buydelight will never give your information to another business.
                    In order to fulfill your order and give you the best service possible, we need to gather information
                    about you.
                </p>
                <p>If you have not given us permission to email you in the future, we won't send you any. If you
                    provided your information before this option, you will have the opportunity to remove yourself from
                    our mailing list by clicking on a link in each email we send you.
                </p>
                <p>As per the Privacy & Electronic Communications Act (enacted on December 11, 2003), "We do not send
                    unsolicited marketing emails (spam) to personal email addresses."
                </p>
                <p>
                    The type of information we will collect about you includes:
                </p>
                <ul>
                    <li>Name</li>
                    <li>Address</li>
                    <li>Phone Number</li>
                    <li>Email Address</li>
                    <li>We DO NOT collect debit/credit card details for orders made over the Website.
                        All payments are processed on Stripe Payment Gateway</li>

                </ul>
                <p>We will never get sensitive personal data about you without your express permission. We promise that
                    the data we store is correct and current. By emailing us, you can see what information we have on
                    file about you. If you discover any errors, we will quickly remove or fix them.
                </p>
                <p>We shall maintain the privacy of your personal information in compliance with the law, the Safebuy
                    Trader Code, and our internal security policy.</p>
                <p class="headtwo">+EMAIL MARKETING</p>
                <p>If you sign up for our newsletter, we will use the information you independently provide or that is
                    required for us to use in order to send you our email newsletter on a regular basis, in accordance
                    with Art. 6 (1) 1 lit. a) GDPR and with your consent. You have the option to discontinue receiving
                    the newsletter at any point. You can use the newsletter's opt-out link or the contact information
                    provided below to accomplish this. Unless you have specifically agreed to the ongoing use of your
                    data, we will remove your email address upon unsubscribing. However, we reserve the right to use
                    your personal data going forward in the ways and to the extent allowed by law, as we have informed
                    you in this notice.</p>
                <p>We could employ technology to monitor the usage trends of our website's visitors. Using a "cookie,"
                    which would be kept on your browser, is one way to do this. Usually, you can change your browser to
                    stop this from occurring. Unless you change your browser's settings, the data gathered in this
                    manner can be used to identify you personally.</p>

            </div>

        </div>

    </div>
</div>