.background{
    /* background-image: url(../../../assets/SHOP.jpg); */
    background-color: #f48722;
}
.shipping{
    padding: 120px 0px;
    font-size: 80px;
    color: white;
}
h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
p{
    font-size: 1.5rem;
    line-height: 2rem;
}

@media screen and (max-width:600px){
    .shipping{
        padding: 60px 0px;
        font-size: 40px;
        color: white;
    }
    h2{
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    p{
        font-size: 1.2rem;
        line-height: 2rem;
    }  
}