<div class="container-fluid background">
    <div class="container">
        <div class="shipping">
            RETURNS
        </div>
    </div>
   
</div>
<div class="container-fluid">
    <div class="container my-5 py-5">
        <h2>Returns</h2>
        <p>Returns for batteries, hands-free devices, and mobile protectors are not accepted. Only display pack returns are acceptable if there are any color, packaging, or related defects. Only sealed inventory will be accepted back for returns.</p>
    </div>
</div>