<div class="container-fluid background">
    <div class="category">
     PRODUCTS
    </div>
 </div>
 <div class="container-fluid mt-5">
     <div class="container">
         <div class="row">
             <div class="col-md-4" (click)="gotodetails()">
                 <div>
                     <div>
                         <img src="../../../assets/single.webp" alt="">
                     </div>
                     <div class="details">
                         <h2 class="headtwo my-3">SINGLE VANILLA LIPPIE</h2>
                         <p class="description">Luxurious, High Shine, Hydrating Vanilla lip gloss. Giving you a polished
                             look enhancing the natural colour of your lips. </p>
                     </div>
                 </div>
             </div>
             <div class="col-md-4" (click)="gotodetails()">
                 <div>
                     <div>
                         <img src="../../../assets/displaypack.webp" alt="">
                     </div>
                     <div class="details">
                         <h2 class="headtwo my-3">VANILLA LIPPIES DISPLAY PACK</h2>
                         <p class="description">Luxurious, High Shine, Hydrating Vanilla lip gloss. Giving you a polished
                             look enhancing the natural colour of your lips. </p>
                     </div>
                 </div>
             </div> <div class="col-md-4" (click)="gotodetails()">
                 <div>
                     <div>
                         <img src="../../../assets/single.webp" alt="">
                     </div>
                     <div class="details">
                         <h2 class="headtwo my-3">SINGLE VANILLA LIPPIE</h2>
                         <p class="description">Luxurious, High Shine, Hydrating Vanilla lip gloss. Giving you a polished
                             look enhancing the natural colour of your lips. </p>
                     </div>
                 </div>
             </div> <div class="col-md-4" (click)="gotodetails()">
                 <div>
                     <div>
                         <img src="../../../assets/displaypack.webp" alt="">
                     </div>
                     <div class="details">
                         <h2 class="headtwo my-3">VANILLA LIPPIES DISPLAY PACK</h2>
                         <p class="description">Luxurious, High Shine, Hydrating Vanilla lip gloss. Giving you a polished
                             look enhancing the natural colour of your lips. </p>
                     </div>
                 </div>
             </div> <div class="col-md-4" (click)="gotodetails()">
                 <div>
                     <div>
                         <img src="../../../assets/single.webp" alt="">
                     </div>
                     <div class="details">
                         <h2 class="headtwo my-3">SINGLE VANILLA LIPPIE</h2>
                         <p class="description">Luxurious, High Shine, Hydrating Vanilla lip gloss. Giving you a polished
                             look enhancing the natural colour of your lips. </p>
                     </div>
                 </div>
             </div> <div class="col-md-4" (click)="gotodetails()">
                 <div>
                     <div>
                         <img src="../../../assets/displaypack.webp" alt="">
                     </div>
                     <div class="details">
                         <h2 class="headtwo my-3">VANILLA LIPPIES DISPLAY PACK</h2>
                         <p class="description">Luxurious, High Shine, Hydrating Vanilla lip gloss. Giving you a polished
                             look enhancing the natural colour of your lips. </p>
                     </div>
                 </div>
             </div> <div class="col-md-4" (click)="gotodetails()">
                 <div>
                     <div>
                         <img src="../../../assets/single.webp" alt="">
                     </div>
                     <div class="details">
                         <h2 class="headtwo my-3">SINGLE VANILLA LIPPIE</h2>
                         <p class="description">Luxurious, High Shine, Hydrating Vanilla lip gloss. Giving you a polished
                             look enhancing the natural colour of your lips. </p>
                     </div>
                 </div>
             </div> <div class="col-md-4" (click)="gotodetails()">
                 <div>
                     <div>
                         <img src="../../../assets/displaypack.webp" alt="">
                     </div>
                     <div class="details">
                         <h2 class="headtwo my-3">VANILLA LIPPIES DISPLAY PACK</h2>
                         <p class="description">Luxurious, High Shine, Hydrating Vanilla lip gloss. Giving you a polished
                             look enhancing the natural colour of your lips. </p>
                     </div>
                 </div>
             </div> <div class="col-md-4" (click)="gotodetails()">
                 <div>
                     <div>
                         <img src="../../../assets/single.webp" alt="">
                     </div>
                     <div class="details">
                         <h2 class="headtwo my-3">SINGLE VANILLA LIPPIE</h2>
                         <p class="description">Luxurious, High Shine, Hydrating Vanilla lip gloss. Giving you a polished
                             look enhancing the natural colour of your lips. </p>
                     </div>
                 </div>
             </div> <div class="col-md-4" (click)="gotodetails()">
                 <div>
                     <div>
                         <img src="../../../assets/displaypack.webp" alt="">
                     </div>
                     <div class="details">
                         <h2 class="headtwo my-3">VANILLA LIPPIES DISPLAY PACK</h2>
                         <p class="description">Luxurious, High Shine, Hydrating Vanilla lip gloss. Giving you a polished
                             look enhancing the natural colour of your lips. </p>
                     </div>
                 </div>
             </div> <div class="col-md-4" (click)="gotodetails()">
                 <div>
                     <div>
                         <img src="../../../assets/single.webp" alt="">
                     </div>
                     <div class="details">
                         <h2 class="headtwo my-3">SINGLE VANILLA LIPPIE</h2>
                         <p class="description">Luxurious, High Shine, Hydrating Vanilla lip gloss. Giving you a polished
                             look enhancing the natural colour of your lips. </p>
                     </div>
                 </div>
             </div> <div class="col-md-4" (click)="gotodetails()">
                 <div>
                     <div>
                         <img src="../../../assets/displaypack.webp" alt="">
                     </div>
                     <div class="details">
                         <h2 class="headtwo my-3">VANILLA LIPPIES DISPLAY PACK</h2>
                         <p class="description">Luxurious, High Shine, Hydrating Vanilla lip gloss. Giving you a polished
                             look enhancing the natural colour of your lips. </p>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>