.background{
    /* background-image: url(../../../assets/SHOP.jpg); */
    background-color: #f48722;
}
.category{
    padding: 120px 0px;
    font-size: 80px;
    color: white;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.description{
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    display: flex;
    justify-content: center; 
    text-align: center;
}
.headtwo{
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
    height: 5rem;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: start; 
}
.image{
    height: 23rem;
}
.price{
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
    color: #8C50D6;
    height: 5rem;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    justify-content: center; 
}
img{
    width: 100%;
}
.col-md-4{
    cursor: pointer;
}

@media screen and (max-width:992px){
    .headtwo {
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;
        height: 4rem;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: start;
    
    }
    .price{
        font-size: 15px;
    }
    .category {
        padding: 70px 0px;
        font-size: 64px;
        color: white;
    }
    .image{
        height: 16rem;
    }
}
@media screen and (max-width:600px){
    .category {
        padding: 70px 0px;
        font-size: 40px;
        margin-left: 5px;
        color: white;
    }
    .headtwo{
        font-size: 18px;
        line-height: 20px;
        font-weight: 600;
        height: 4rem;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: start;
    }
}
@media screen and (max-width:1200px) and (min-width:993px){
    .image{
        height: 18rem;
    }
    .headtwo{
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        font-weight: 600;
        height: 4rem;
        text-transform: uppercase;
        align-items: center;
        display: flex;
        text-align: center;
        justify-content: start;
    }
}